extends layout

block content
  h1= title
  br
  - var results = [{Season_type: "Spring",temperature: 21.1,Season_month:"March"},{Season_type: "Summer",temperature: 27.3,Season_month:"June"},{Season_type: "Winter",temperature: 2.3,Season_month:"November"}];
  div(class = "container-fluid")
    div(class = "row")
     each form in results
        div(class="col-sm-4") Season-type: #{form.Season_type} 
        br
        br 
        div(class="col-sm-4") temperature: #{form.temperature}
        br
        br  
        div(class="col-sm-4") Season-month: #{form.Season_month}